/*  ****************************************
    Framework
    ****************************************    */
.container {
    padding-right: 32px;
    padding-left: 32px;

    > .inner {
        position: relative;
        width: 100%;
        display: block;
        height: auto;

        &:after {
            content: "";
            display: block;
            clear: both;
            overflow: hidden;
        }
    }
}

.btn {
    [class^="icon-"] {
        font-size: 100%;
    }

    &.focus, &:focus, &:hover {
        color: #ffffff;
        outline: none;
    }

}

/*  ****************************************
    SASS Mixins
    ****************************************    */

@mixin font-size($sizeValue: 1.6) {
    font-size: ($sizeValue * 10) + px;
    font-size: $sizeValue + rem;
}



/*  ****************************************
    Variables
    ****************************************    */

$textPrimary : #101326;
$textSecondary : #909396;
$textParagraph: #c0c3c6;
$textHeading: #ffffff;

$fontFamily: "Roboto", sans-serif;

/*  ****************************************
    General
    ****************************************    */
html, body {
    font-family: $fontFamily;
    min-height: 100%;
    background: #101326;
}
html {
}
body {
    font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6 {
}

h2 {
    @include font-size(1.8);
    color: $textHeading;
    margin-bottom: 24px;
}

p {
    @include font-size(1.4);
    color: $textParagraph;
    line-height: 22px;
    margin: 0 0 16px;
}

/*  ****************************************
    Utilities
    ****************************************    */
.indicator {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    z-index: 9999;

    &:after {
        width: 24px;
        height: 24px;
        content: "";
        position: absolute;
        top: -7px;
        left: -7px;
        border-radius: 100%;
        opacity: 0.2;
    }

    &.danger {
        background: #dd0044;
        &:after {
            background: #dd0044;
        }
    }
    &.success {}

}

/*  ****************************************
    Header, Content, Footer
    ****************************************    */
#header,
#content {
    position: relative;
    width: 100%;
    clear: both;
}

/*  ****************************************
    Header
    ****************************************    */
#header {
    position: fixed;
    height: 60px;
    z-index: 9;

    > .container {
        height: 100%;

        > .inner {
            height: 100%;
        }
    }

    /* IF Scrolled */
    &.scrolled {
        background: #191629;
        box-shadow: 0 0 16px 8px rgba(3, 6, 25, 0.50);
    }

}


/*  ****************************************
    Content
    ****************************************    */
#content {
    height: auto;
}

/*  ****************************************
    Title
    ****************************************    */
#title {
    @include font-size(2.0);
    line-height: 60px;
    height: 60px;
    text-transform: none;
    color: $textHeading;
    width: 70%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 15%;
    text-align: center;
    font-weight: 400;
}

/*  ****************************************
    Nav
    ****************************************    */
#nav {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px;
    margin: 0;
    list-style: none;
    display: block;
    height: auto;
    width: 100%;

    li {
        width: 40px;
        height: 60px;
        line-height: 60px;
        margin: 0;
        padding: 0;
        color: #ffffff;
        display: inline-block;
        float: left;

        &:nth-child(n+2) {
        }

        &:nth-child(n+3) {
            float: right;
        }

        .btn {
            background: none;
            border: none;
            @include font-size(2.6);
            padding: 0;
            margin: 0;
            line-height: inherit;
            height: 100%;
            width: 100%;
        }

    }
}

/*  ****************************************
    Root
    ****************************************    */
#root {
    height: 100%;
	min-height: 680px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	position: relative;
	overflow: hidden;
    transition: all 1s ease-in-out;
}

/*  ****************************************
    Hexagon
    ****************************************    */
#hexagon {
    list-style: none;
    padding: 0;
    height: 360px;
    position: relative;
    width: 100%;
    margin: 188px 0 0 0;

    &:after {
        display: table;
        width: 100%;
        clear: both;
        content: "";
    }


    li {
        width: 110px;
        height: 124px;
        background-repeat: no-repeat, no-repeat;
        background-position: center center, center center;
        background-image: url(../img/hexagon-inner.png), url(../img/hexagon-outer.png);
        background-size: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        color: #192939;

        &:nth-child(1) {
        margin: -58px 0 0 -56px;
        }
        &:nth-child(2) {
            margin: -150px 0 0 -3px;
        }
        &:nth-child(3) {
            margin: -58px 0 0 50px;
        }
        &:nth-child(4) {
            margin: 33px 0 0 -3px;
        }
        &:nth-child(5) {
            margin: 33px 0 0 -108px;
        }
        &:nth-child(6) {
            margin: -58px 0 0 -162px;
        }
        &:nth-child(7) {
            margin: -150px 0 0 -108px;
        }

        a {
            color: inherit;
            position: relative;
            width: 80%;
            height: 80%;
            display: block;
            margin: 10%;


            > .icon {
                font-size: 36px;
	            color: inherit;
	            width: 100%;
	            height: 36px;
	            line-height: 36px;
	            position: absolute;
	            top: 24px;
	            left: 0;
	            text-align: center;
            }

            > span {
                line-height: 12px;
	            font-size: 10px;
	            width: 70%;
	            text-align: center;
	            position: absolute;
	            bottom: 8px;
	            left: 15%;
	            text-transform: uppercase;
	            color: inherit;
	            font-weight: 800;
	            vertical-align: middle;
	            height: 24px;
            }

            > .indicator {
	            top: 84px;
	            left: 16px;
	            position: absolute;
            }
        }
    }
}

/*  ****************************************
    Welcome
    ****************************************    */
#welcome {
    position: relative;
    margin: 0 0 40px;

    h1, h2, h3 {
        margin: 0 0 8px;
        text-transform: uppercase;
    }
}

/*  ****************************************
    IF MOBILE
    ****************************************    */

@media (min-width: 0) and (max-width: 767px)  {
    html, body {
        overflow-x: hidden;
        min-width: 320px;
        max-width: 767px;
    }

    html {

        &.orientation-landscape {
            #root {
                transform: rotate(-90deg);
            }
        }

        &.orientation-portrait {
            #root {
                transform: initial;
            }
        }

        &.device-mobile {

            &.page-default {
                #root {
                    background: url(../img/background-index.png) no-repeat center 0 #101326;
                    background-size: 414px;
                }
            }
            &.page- {}
            &.page- {}
            &.page- {}
            &.page- {}
            &.page- {}
            &.page- {}
        }
    }

    .container {
        width: 100%;
        max-width: none;
        min-width: 0;
    }
}

/*  ****************************************
    IF TABLET
    ****************************************    */

@media (min-width: 768px) and (max-width: 1024px)  {
}

/*  ****************************************
    IF DESKTOP
    ****************************************    */

@media (min-width: 1025px)  {
}